BIENVENIDO {
           sean entero a, x[3], m[4, 4], n[4,3].

           x = 3;
           
           a[0] = 3;
           x[3] = 3;

           x = 'a';
           x[3] = 'a';


           n[0] = x;
           m[0] = x;

           m[0, 0] = a;
           m[0,0] = x;
           m[0] = a;

           m = m;

}
